<!DOCTYPE html>
<html lang="en">
<head>
	<title>GCfiddle</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div class="container">
		<h1>GCfiddle</h1>
		
		<form>
			<!-- HTML textarea -->
			<div class="form-group">
				<label>HTML</label>
				<textarea class="form-control" id="gcHTML" cols="30" rows="10"></textarea>
			</div>
			<!-- CSS textarea -->			
			<div class="form-group">
				<label>CSS</label>
				<textarea class="form-control" id="gcCSS" cols="30" rows="10"></textarea>
			</div>
			<!-- JavaScript textarea -->
			<div class="form-group">
				<label>JavaScript</label>
				<textarea class="form-control" id="gcJavaScript" cols="30" rows="10"></textarea>
			</div>
			<!-- RUN button -->
			<button type="submit" class="btn btn-default">Run</button><br />
			<!-- HTML textarea -->
			<div class="form-group">
				<label>Preview</label>
				<textarea class="form-control" id="gcPreview" cols="30" rows="10"></textarea>
			</div>
		</form>

	</div>

	<!-- scripts -->
	<script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script async src="app.min.js"></script>
</body>
</html>