doctype html
html(lang="en")

    head

        title GSfiddle
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='main.css')

    body

        div(class="container-fluid")
            div(class="row code-input")
                div(class="col-md-4")
                    h3 HTML
                    textarea(class="text-box" id="HTML")
                div(class="col-md-4")
                    h3 CSS
                    textarea(class="text-box" id="CSS")
                div(class="col-md-4")
                    h3 Javascript
                    textarea(class="text-box" id="JS")
        div(class="container-fluid")
            div(class="row display-content")
                div(class="col-xs-2")
                    button(id="Run" onclick="collect()") Compile code
                div(id="display" class="col-xs-10")

    script(async src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(async src='app.js')
